* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --colorA: rgb(24, 24, 24);
    --colorB: rgb(12, 12, 12);
    --highlightedText: rgb(238, 238, 238);
    --semiHighlightedText: rgb(189, 189, 189);
    --discreteText: rgb(104, 104, 104);
}


body {
    padding: 0;
    margin: 0;
    background-color: var(--colorB);
}

.title {
    color: var(--highlightedText);
    font-family: 'Roboto';
    font-weight: 300;
}

.subtitle {
    color: var(--semiHighlightedText);
    font-family: "Inter";
    font-weight: 300;
    padding-left: 10px;
}

.paragraph {
    font-family: "Inter";
    color: var(--highlightedText);
    padding-left: 0px;
}

.discrete {
    color: var(--discreteText)
}

header, footer {
    flex: 0 0 auto;
}

ol {
    display: flex;
    list-style:none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.main-header {
    background-color: var(--colorA);
    width: 100%;
    height: auto;
}

.header-title-wrapper {
    padding: 15px;
}

.header-title {
    color: var(--highlightedText);
    font-family: 'Nunito';
}


.page-content {
    width: 100%;
    height: 100%;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background-color: var(--colorA);
    width: 100%;
    height: auto;
}
.footer-title-container {
    padding: 15px;
    width: 50%;
}

.footer-title {
   color: var(--highlightedText);
}

.footer-subtitle {
    color: var(--discreteText);
    font-size: 12px;
}

.create-button-wrapper {
    height: 70px;
    width: 70px;
    padding: 10px;
}

#create-button {
    color: azure;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 100%;
    background-color: #1a3558;
    font-size: 30px;
    transition: 0.5s;
}

#create-button:hover {
    box-shadow: 0 0 15px rgb(103, 181, 255);
    background-color:  rgb(51, 148, 238);
}

.page-content {
    padding: 15px;
}

.collaborator-number-input {
    width: 70px;
}

.work-list {
    list-style: none;
    display: flex;
    
}

.work-frame-wrapper {
    background-color: var(--colorA);
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

.work-date-display {
    color: var(--discreteText);
    font-size: 12px;
    position: static;
    margin-top: 10px;
}

.work-list-overflow {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    padding-bottom: 60px;
    padding-top: 60px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.empty-display-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.popup {
    position: absolute;
    display: none;
    z-index: 9999;
}